<%- include("layout") %>

<h2>Hasil Analisis Kinerja Karyawan</h2>

<table border="1" cellpadding="8">
  <tr>
    <th>Nama</th>
    <th>Departemen</th>
    <th>Rata-rata</th>
    <th>Status</th>
  </tr>

  <% employees.forEach(e => { %>
    <tr>
      <td><%= e.name %></td>
      <td><%= e.Department.name %></td>
      <td><%= e.averageScore().toFixed(2) %></td>
      <td><%= e.status() %></td>
    </tr>
  <% }) %>
</table>

<br>
<a href="/form">Input Data Lagi</a>

<%- include("footer") %>
